@import url(http://fonts.googleapis.com/css?family=Bubbler+One);
html {
  font-size: 100.01%;
}
body {
  font-size: 75%;
  color: #222222;
  background: #fff;
  width: 55em;
  margin: auto;
  font-family: "PTSans", "PT Sans", sans-serif;
}
/* Links
-------------------------------------------------------------- */
a {
  text-decoration: none;
  color: #222;
  font-style: italic;
}
a:hover,
a:active {
  color: inherit;
}
a:focus,
a:hover {
  color: #09f;
}
/*a           { color: #06c; text-decoration: underline; }*/
a:link {
  font-style: italic;
}
a[href]:hover,
a[href]:active {
  background: #666;
  color: #ddd;
}
/* Headings
-------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: "Bubbler One", sans;
  color: #111;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:link,
h2 a:link,
h3 a:link,
h4 a:link,
h5 a:link,
h6 a:link {
  font-style: normal;
  color: inherit;
  font-weight: normal;
}
small.post-title {
  font-size: 8pt;
  display: block;
  text-align: right;
  margin-top: -2em;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
  color: #222;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
}
h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
  margin: 0;
}
#blog-title {
  font-size: 12pt;
}
/* Sidebar
-------------------------------------------------------------- */
#sidebar {
  text-align: right;
  float: right;
  font-size: 12pt;
  font-family: "Bubbler One", sans;
}
#sidebar li {
  display: inline;
  list-style: none;
  margin-left: 1.5em;
  /*				background: @dark-bgrd-c;
				color: @text-bright-c;*/

}
#sidebar input {
  height: 80%;
}
/* Text elements
-------------------------------------------------------------- */
p {
  margin: 0 0 1.5em;
}
/*
These can be used to pull an image at the start of a paragraph, so
that the text flows around it (usage: <p><img class="left">Text</p>)
 */
.left {
  float: left !important;
}
p .left {
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
.right {
  float: right !important;
}
p .right {
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}
strong,
dfn {
  font-weight: bold;
}
em,
dfn {
  font-style: italic;
}
sup,
sub {
  line-height: 0;
}
abbr,
acronym {
  border-bottom: 1px dotted #666;
}
address {
  margin: 0 0 1.5em;
  font-style: italic;
}
del {
  color: #666;
}
pre {
  margin: 1.5em 0;
  white-space: pre;
}
pre,
code,
tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
/* Lists
-------------------------------------------------------------- */
li ul,
li ol {
  margin: 0;
}
ul,
ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
dl {
  margin: 0 0 1.5em 0;
}
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 1.5em;
}
/* Tables
-------------------------------------------------------------- */
/*
Because of the need for padding on TH and TD, the vertical rhythm
on table cells has to be 27px, instead of the standard 18px or 36px
of other elements.
 */
table {
  margin-bottom: 1.4em;
  width: 100%;
}
th {
  font-weight: bold;
}
thead th {
  background: #c3d9ff;
}
th,
td,
caption {
  padding: 4px 10px 4px 5px;
}
tfoot {
  font-style: italic;
}
caption {
  background: #eee;
}
.small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
.hide {
  display: none;
}
.quiet {
  color: #666;
}
.loud {
  color: #000;
}
.highlight {
  background: #ff0;
}
.added {
  background: #060;
  color: #fff;
}
.removed {
  background: #900;
  color: #fff;
}
.first {
  margin-left: 0;
  padding-left: 0;
}
.last {
  margin-right: 0;
  padding-right: 0;
}
.top {
  margin-top: 0;
  padding-top: 0;
}
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/*--*/
abstract div {
  float: left;
  width: %;
  text-align: justify;
  padding: 1em;
}
abstract div:first-child {
  border-right: 1px solid black;
  margin-right: 1em;
}
/*--*/
div.current {
  border: 1px dashed black;
}
hr {
  background: transparent;
  border: 1px dotted #ccc;
}
span.subtitle {
  font-size: 1.5em;
  margin-bottom: 0.75em;
  font-style: italic;
  text-indent: 2em;
}
.clear {
  clear: both;
}
.study table,
.study tr,
.study td {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  font-size: 6pt;
  vertical-align: center;
}
.study td a {
  display: block;
  vertical-align: center;
}
.study tr {
  height: 32pt;
}
.lila {
  background: #cc99ff;
}
.dblue {
  background: #0000ff;
  color: white;
}
.lblue {
  background: #ccffff;
}
.grblu {
  background: #33cccc;
}
.green {
  background: #99cc00;
}
.orange {
  background: #ffcc00;
}
.yellow {
  background: #ffff00;
}
.lyello {
  background: #ffff99;
}
.pink {
  background: #ff00ff;
}
.oraye {
  background: #ffcc99;
}
a[name] {
  text-decoration: none;
  font-weight: bold;
}
