## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>
${set_locale(lang)}
<!DOCTYPE html>
<html lang="${lang}">
<head>
    ${base.html_head()}
    <%block name="extra_head">
    </%block>
    ${extra_head_data}
</head>
<body>

    <!--Sidebar content-->
    <ul id="sidebar">
    ${base.html_navigation_links()}
    <li>${search_form}</li>
    </ul>


    <h1 id="blog-title">
        <a href="${abs_link('/')}" title="${blog_title}">${blog_title}</a>
    </h1>
		
		<!--	${license} -->

    <%block name="content"></%block>
    <small>${content_footer}</small>
    ${base.late_load_js()}
    <%block name="extra_js"></%block>
    ${body_end}
</body>
